<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="keywords" content="日新网，华东交通大学，日新服务">
    <meta name="description" content="日新服务：日新网为每一个花椒服务">
    <meta name="author" content="zvenshy@gmail.com">
    <title>日新服务</title>
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <script src="./ctrl/lib/jquery-2.1.0.min.js"></script> -->
    <!-- <script src="./js/main.js"></script> -->
</head>
<body class="sme">
    <div id="content">
        <div class="main">
            <div class="wrap">
		{% if error %}
		    <p class="helper">Username or password is incorrect</p>
		{% else %}
		    <p class="helper">在您使用之前，请先登录</p>
		{% endif %}
		<form action="login?redirect{{ request.args.redirect }}" method="POST">
			<input type="number" placeholder="请输入您的学号" name="username" value="{{ request.form.username }}">
                    <input type="text" placeholder="请输入您的密码" name="password">
                    <p class="help-block">*初始密码为您的身份证后6位</p>
                    <input id="submit" type="submit" value="登录">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrap">
            <p id="grad" class="rl"><span id="gradl"></span><span id="gradr"></span><span id="tip">tips</span></p>
            <p>想了解我们嘛？</p>
            <p>欢迎访问：<a href="http://www.ecjtu.net">日新首页</a>or<a href="http://www.ecjtu.net/about">关于我们</a></p>
            <p><em class="cricon"></em>日新技术研发中心技术支持</p>
        </div>
    </footer>

    <header class="head-fixed">
        <div class="wrap">
            <div id="mlogo" class="layx">
                <img src="./images/mlogo.png" alt="日新服务">
            </div>
        </div>

        <div id="tl"></div>
        <div id="tr"></div>   
    </header>
</body>
</html>
